<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
    >
      Voice Traffic Routing
    </h1>
  </section>
  <!--End Intro Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div
      class="max-w-[73rem] text-mobileSubText sm:text-subText flex flex-col gap-6 text-text-gray"
    >
      <p>
        Afriwave Telecom is at the forefront of innovative Voice Traffic Routing
        Services in Ghana. Operating as a carrier neutral voice traffic routing
        entity, Afriwave plays a pivotal role in routing National Interconnect
        Traffic (Off-net traffic) and International Interconnect Traffic
        (Inbound and Outbound) through International Wholesale Carrier Licensees
        (IWCLs). Our established network ensures reliable communication for
        Mobile Network Operators (MNOs) and International Wholesale Carriers
        (IWCs), as well as any NCA licensed Connecting Entities (CEs), offering
        essential benefits to the telecom landscape.
      </p>
      <div>
        <p class="font-bold text-subText text-black underline">
          Key Benefits of Afriwave's Routing National & International
          Interconnect Voice Traffic:
        </p>

        <ul class="pl-10 list-disc">
          <li>
            <span class="text-[#4472c4]"
              >Reconciliation of Interconnect Service Traffic:</span
            >
            Afriwave's robust infrastructure ensures seamless reconciliation of
            Interconnect Service Traffic. Through our meticulous processes, we
            enhance the accuracy and reliability of interconnect traffic
            records.
          </li>
          <li>
            <span class="text-[#4472c4]"
              >Comprehensive Traffic Settlement Reports:</span
            >
            We provide comprehensive interconnect service traffic settlement
            reports, facilitating regulatory compliance. These reports
            contribute to transparency and accountability within the telecom
            industry.
          </li>
          <li>
            <span class="text-[#4472c4]"
              >Strategic Geographical Data Centre Redundancy:</span
            >
            Afriwave's strategic positioning of its three data centers brings
            enhanced network redundancy. With any one data center capable of
            handling 100% of total off-net voice traffic, we ensure
            uninterrupted communication services.
          </li>
          <li>
            <span class="text-[#4472c4]"
              >Efficient Traffic Recovery and Load-Sharing:</span
            >Our ICH setup incorporates an advanced routing algorithm that
            automates traffic recovery and load-sharing. This mechanism ensures
            optimized traffic distribution, bolstering the efficiency of the
            entire system.
          </li>
        </ul>
      </div>
    </div>
    <div
      class="max-w-[73rem] text-mobileSubText sm:text-subText flex flex-col gap-6 text-text-gray"
    >
      <p>
        Afriwave Telecom is committed to ensuring the seamless flow of voice
        traffic, contributing to a well-functioning interconnect ecosystem. As a
        vital link between MNOs and IWCs, we prioritize reliability,
        transparency, and efficiency in every aspect of our operations.
      </p>
      <p>
        Our dedication to maintaining the integrity of interconnect service
        traffic and supporting regulatory compliance underscores our role as a
        trusted partner in Ghana's telecommunications landscape. With Afriwave
        Telecom, experience a robust voice traffic routing solution that fuels
        connectivity and efficiency for all stakeholders.
      </p>
    </div>
  </section>
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/AfriwaveManagement/Management.JPG');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      The Interconnect ClearingHouse
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Your Gateway to the Telecom World
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section>
</div>
