<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/DCInfrastructure.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
    >
      Data Center Services
    </h1>
  </section>
  <!--End Intro Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div
      class="max-w-[73rem] text-mobileSubText sm:text-subText flex flex-col gap-6 text-text-gray"
    >
      <p>
        Afriwave Telecom Ghana Limited and Onix Data Center have entered into a
        reselling Agreement pursuant to the resale of Onix Data Center
        colocation services. As a Tier IV enterprise class facility, which is
        the highest level for a Data Center, Onix offers a stable, reliable, and
        uninterrupted service with an annual expected uptime of 99.995%.
      </p>
      <div>
        <h3 class="font-bold text-subText text-black underline">
          What does ONIX TIER IV Data Center offer?
        </h3>
        <div class="mt-4">
          <ul class="list-disc flex flex-col gap-2">
            <li class="text-mobileSubText sm:text-subText">
              <p class="text-black font-bold">Cabinets & Cages</p>
              <p>
                A dedicated footprint to install cabinets on the premises. Space
                separated from other customers, within shared area in the
                premises.
              </p>
              <div class="flex flex-col sm:flex-row gap-4 my-4">
                <div class="flex-grow w-full">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fcabinet2.jpeg?alt=media&token=7ea3cff5-63f6-404b-b5a5-a47120cb994e&_gl=1*1xiyaxq*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI2NTEuNjAuMC4w"
                    alt="cabinet 2"
                    class="h-[20rem] sm:h-[30rem] w-full object-cover"
                    loading="lazy"
                  />
                </div>
                <div class="flex-grow w-full">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fcabinet1.jpeg?alt=media&token=9648289b-791f-45e2-9f32-cd3140b5a42d&_gl=1*1namosl*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI2MTYuMTMuMC4w"
                    alt="cabinet 1"
                    class="h-[20rem] sm:h-[30rem] w-full object-cover"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="flex flex-col sm:flex-row gap-4 my-4">
                <div class="flex-grow w-full">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fcabinet3.jpeg?alt=media&token=209fa059-36af-46ae-b219-9ba7dc048cae&_gl=1*9tnixf*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI2NjguNDMuMC4w"
                    alt="cabinet 3"
                    class="h-[20rem] sm:h-[30rem] w-full object-cover"
                    loading="lazy"
                  />
                </div>
                <div class="flex-grow w-full">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fcabinet4.jpeg?alt=media&token=4640bbfe-d974-4fe9-8739-333c37cfc068&_gl=1*1cln42e*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI2OTUuMTYuMC4w"
                    alt="cabinet 4"
                    class="h-[20rem] sm:h-[30rem] w-full object-cover"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <!-- <li class="text-mobileSubText sm:text-subText">
              <p class="text-black font-bold">Cages</p>
              <p>
                Space separated from other customers, within shared area in the
                premises.
              </p>
            </li> -->
            <li class="text-mobileSubText sm:text-subText">
              <p class="text-black font-bold">Private Rooms</p>
              <p>A dedicated space in the premises.</p>
              <div class="flex flex-col sm:flex-row gap-4 my-4">
                <div class="flex-grow w-full">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fprivate1.jpeg?alt=media&token=bf799eb0-3b14-4a73-b66d-f4e834491ef6&_gl=1*1wjismi*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI3NTYuMjMuMC4w"
                    alt="private 1"
                    loading="lazy"
                    class="h-[20rem] sm:h-[30rem] w-full object-cover"
                  />
                </div>
                <div class="flex-grow w-full">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fprivate2.jpeg?alt=media&token=313ef5e8-d09f-4105-a5ae-5405dd99d361&_gl=1*1tdx68*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI3ODEuNjAuMC4w"
                    alt="private 2"
                    loading="lazy"
                    class="h-[20rem] sm:h-[30rem] w-full object-cover"
                  />
                </div>
              </div>
            </li>
            <li class="text-mobileSubText sm:text-subText">
              <p class="text-black font-bold">Inter Connectivity</p>
              <p>
                Home to many of Africa’s key network providers.Direct
                connections to partners, suppliers, customers in the same or
                nearby data center.
              </p>
              <div class="flex flex-col sm:flex-row gap-4 my-4">
                <div class="flex-grow w-full">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fconnect1.jpeg?alt=media&token=7d5d76a8-301e-4aab-b9a9-bc4d35ad4c7b&_gl=1*vlt331*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI3MTkuNjAuMC4w"
                    alt="connect 1"
                    class="h-[20rem] sm:h-[30rem] w-full object-cover"
                    loading="lazy"
                  />
                </div>
                <div class="flex-grow w-full">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fconnect2.jpeg?alt=media&token=6beb9459-2d42-4393-a2e3-6d3966de3571&_gl=1*11s97cg*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI3NDMuMzYuMC4w"
                    alt="connect 2"
                    class="h-[20rem] sm:h-[30rem] w-full object-cover"
                    loading="lazy"
                  />
                </div>
              </div>
            </li>
            <!-- <li class="text-mobileSubText sm:text-subText">
              <p class="text-black font-bold">Cross Connects</p>
              <p>
                Direct connections to partners, suppliers, customers in the same
                or nearby data center.
              </p>
            </li> -->
            <li class="text-mobileSubText sm:text-subText">
              <p class="text-black font-bold">Hand & Eyes</p>
              <p>Local engineering support through Hands & Eyes service</p>
            </li>
            <li class="text-mobileSubText sm:text-subText">
              <p class="text-black font-bold">Customer Support Center</p>
              <p>Fast, day-to-day and issue driven communications</p>
              <div class="flex flex-col sm:flex-row gap-4 my-4">
                <div class="flex-grow w-full">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fsupport1.jpeg?alt=media&token=157d2ef5-1536-45fd-98e3-94055226bc7d&_gl=1*wutbg6*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI3OTcuNDQuMC4w"
                    alt="support 1"
                    class="h-[20rem] sm:h-[30rem] w-full object-cover"
                    loading="lazy"
                  />
                </div>
                <!-- <div class="flex-grow w-full">
                  <img
                    src="../../../../assets/dataCenter/connect2.jpeg"
                    alt=""
                    class="h-[20rem] sm:h-[30rem]  w-full object-cover"
                  />
                </div> -->
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <h3 class="font-bold text-subText text-center mt-6 text-white">
          Services
        </h3>
        <div class="mt-4">
          <ul class="list-disc flex flex-col gap-2">
            <li class="text-mobileSubText sm:text-subText">
              <p class="text-black font-bold">Colocation</p>
              <p>
                The Tier IV data center currently houses 170 3kW and 5kW racks
                in module one. Colocation allows businesses to share
                infrastructure and reduce cost while still maintaining control
                over their own equipment
              </p>
            </li>
            <li class="text-mobileSubText sm:text-subText">
              <p class="text-black font-bold">Carrier- Neutrality</p>
              <p>
                Access to multiple cable operators, telcos, ISPs and IP Transit
                operators, offering capacity at varying prices. This also helps
                customers to cross connect to business partners to secure
                connections.
              </p>
            </li>
            <li class="text-mobileSubText sm:text-subText">
              <p class="text-black font-bold">Cloud content</p>
              <p>
                Customers experience efficient delivery, scalability and
                reliability with optimized cloud and content distribution
                solutions.
              </p>
            </li>
            <li class="text-mobileSubText sm:text-subText">
              <p class="text-black font-bold">Connectivity</p>
              <p>Home to many of Africa’s key network providers</p>
            </li>
            <li class="text-mobileSubText sm:text-subText">
              <p class="text-black font-bold">Peering</p>
              <p>
                This allows networks to directly connect and exchange traffic,
                improving communication and reducing IP costs. Peering with
                other networks can improve the performance of internet services
                and access to new content and services.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <h3 class="font-bold text-subText text-black underline">Benefits</h3>
        <div class="mt-4">
          <ul class="list-disc flex flex-col gap-2">
            <li class="text-mobileSubText sm:text-subText">Security 24/7</li>
            <li class="text-mobileSubText sm:text-subText">
              Revenue opportunity - Interconnect with other businesses
            </li>
            <li class="text-mobileSubText sm:text-subText">
              Power Availability - Uptime: 99.9995% availability
            </li>
            <li class="text-mobileSubText sm:text-subText">Scalability</li>
            <li class="text-mobileSubText sm:text-subText">
              Efficient cooling - 23-27℃
            </li>
            <li class="text-mobileSubText sm:text-subText">
              Connectivity choice - Multiple providers available
            </li>
            <li class="text-mobileSubText sm:text-subText">
              Total cos of ownership - Save on CapEx and OpEx
            </li>
            <li class="text-mobileSubText sm:text-subText">
              Skills and Expertise - Engineers on demand
            </li>
            <li class="text-mobileSubText sm:text-subText">
              Service Level Agreement - Predictability
            </li>
          </ul>
          <div class="benefits-container my-4">
            <div class="w-full">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fbenefit1.jpeg?alt=media&token=4fb9f37d-6a86-4655-9b64-e65b34e91540&_gl=1*1cjopuk*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTIyMDkuMjYuMC4w"
                alt="benefit 1"
                class="h-[20rem] w-full object-cover"
                loading="lazy"
              />
            </div>
            <div class="w-full">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fbenefit2.jpeg?alt=media&token=0e7e2a39-759c-4746-9853-831deeab0443&_gl=1*a5fgeo*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI0ODkuMTAuMC4w"
                alt="benefit 2"
                class="h-[20rem] w-full object-cover"
                loading="lazy"
              />
            </div>
            <div class="w-full">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fbenefit3.jpeg?alt=media&token=b6697719-3bfd-4a0b-8574-08474dbdd63d&_gl=1*263doc*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI1MDkuNjAuMC4w"
                alt="benefit 3"
                class="h-[20rem] w-full object-cover"
              />
            </div>
            <div class="w-full">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fbenefit4.jpeg?alt=media&token=20ff4a52-a8dd-443d-8a7d-ae456af27342&_gl=1*fwog70*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI1MjUuNDQuMC4w"
                alt="benefit 4"
                class="h-[20rem] w-full object-cover"
                loading="lazy"
              />
            </div>
            <div class="w-full">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fbenefit5.jpeg?alt=media&token=df89b972-6d3b-455e-bd16-1bd493f3a2af&_gl=1*tpqonm*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI1MzcuMzIuMC4w"
                alt="benefit 5"
                class="h-[20rem] w-full object-cover"
                loading="lazy"
              />
            </div>
            <div class="w-full">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fbenefit6.jpeg?alt=media&token=5dbe3112-714f-45da-baf1-a9608bf9cb98&_gl=1*1duryad*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI1NTYuMTMuMC4w"
                alt="benefit 6"
                class="h-[20rem] w-full object-cover"
                loading="lazy"
              />
            </div>

            <div class="w-full">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fbenefit7.jpeg?alt=media&token=56420dd8-2581-40e4-9521-741d3a70a9fc&_gl=1*2h3rub*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI1NjkuNjAuMC4w"
                alt=""
                class="h-[20rem] w-full object-cover"
              />
            </div>
            <div class="w-full">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fbenefit8.jpeg?alt=media&token=f3273d63-fb57-474a-8874-a91b57a2029d&_gl=1*ho6300*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI1ODQuNDUuMC4w"
                alt="benefit 8"
                class="h-[20rem] w-full object-cover"
                loading="lazy"
              />
            </div>

            <div class="w-full">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fbenefit9.jpeg?alt=media&token=1d57d6b1-a3ba-44d1-a41f-a968d51c790e&_gl=1*4e0b*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI1OTkuMzAuMC4w"
                alt="benefit 9"
                class="h-[20rem] w-full object-cover"
                loading="lazy"
              />
            </div>
            <div class="w-full">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fbenefit10.jpeg?alt=media&token=063fd3fd-bf8b-4828-bb51-5a5383caeb51&_gl=1*1ihlltl*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI0MzkuNjAuMC4w"
                alt=""
                class="h-[20rem] w-full object-cover"
              />
            </div>
            <div class="w-full">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fbenefit11.jpeg?alt=media&token=a4b4623e-876e-413d-b13e-290952bd6cf9&_gl=1*8lpxr9*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI0NTQuNDUuMC4w"
                alt="benefit 11"
                class="h-[20rem] w-full object-cover"
                loading="lazy"
              />
            </div>
            <div class="w-full">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/dataCenterPics%2Fbenefit12.jpeg?alt=media&token=6eb7e6b8-f13e-465a-b75a-bf00ea77a584&_gl=1*wq9d87*_ga*MTk1MjI1MzQ2My4xNjk1MDczOTM0*_ga_CW55HF8NVT*MTY5NTg5MTc5MC4xMC4xLjE2OTU4OTI0NjguMzEuMC4w"
                alt="benefit 12"
                class="h-[20rem] w-full object-cover"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/AfriwaveManagement/Management.jpeg');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      The Interconnect ClearingHouse
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Your Gateway to the Telecom World
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section> -->
</div>
<section class="max-w-[80rem] px-6 py-4 sm:px-10 sm:py-10 mx-auto mt-10 w-full">
  <h1
    class="text-mobileHeading sm:text-heading text-text-heading my-4 capitalize font-bold text-center"
  >
    Clients & Partners of Onix
  </h1>
  <div class="flex flex-col lg:flex-row">
    <div class="flex-grow flex-shrink-0 basis-0 border border-text-heading">
      <div class="px-4 py-2 bg-text-heading">
        <h3 class="font-bold text-subText text-center text-white">
          Submarine Cables
        </h3>
      </div>
      <div
        class="grid p-3 place-items-center grid-cleints-cols-minmax-mobile lg:flex flex-col items-center"
      >
        <img class="h-[8rem]" src="../assets/partners/ace.jpg" alt="ace logo" />
        <img
          class="h-[10rem]"
          src="../assets/partners/glo.png"
          alt="glo logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/Main one.png"
          alt="main one logo"
        />
        <img
          class="h-[7rem]"
          src="../assets/partners/wacs.jpg"
          alt="wacs logo"
        />
      </div>
    </div>
    <div class="flex-grow flex-shrink-0 basis-0 border border-text-heading">
      <div class="px-4 py-2 bg-text-heading">
        <h3 class="font-bold text-subText text-center text-white">
          Local Area Networks
        </h3>
      </div>
      <div
        class="grid p-3 place-items-center grid-cleints-cols-minmax-mobile lg:grid lg:grid-cols-2 items-center"
      >
        <img
          class="h-[10rem]"
          src="../assets/partners/DolphinNet.png"
          alt="dolphinet logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/CSquared.png"
          alt="csquared logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/comsys.png"
          alt="comsys logo"
        />
        <img
          class="h-[7rem]"
          src="../assets/partners/ecoband.jpg"
          alt="ecoband logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/isocel.png"
          alt="isocel logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/gix.png"
          alt="isocel logo"
        />
      </div>
    </div>
    <div class="flex-grow flex-shrink-0 basis-0 border border-text-heading">
      <div class="px-4 py-2 bg-text-heading">
        <h3 class="font-bold text-subText text-center text-white">Mobile</h3>
      </div>
      <div
        class="grid p-3 place-items-center grid-cleints-cols-minmax-mobile lg:flex flex-col items-center"
      >
        <img
          class="h-[10rem]"
          src="../assets/partners/airteltigo.png"
          alt="airtel tigo logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/Mtn Logo.png"
          alt="mtn logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/Vodafone Logo.png"
          alt="vodafone logo"
        />
      </div>
    </div>
    <div class="flex-grow flex-shrink-0 basis-0 border border-text-heading">
      <div class="px-4 py-2 bg-text-heading">
        <h3 class="font-bold text-subText text-center text-white">
          Global Networks
        </h3>
      </div>
      <div
        class="grid p-3 lg:gap-2 place-items-center grid-cleints-cols-minmax-mobile lg:flex flex-col items-center"
      >
        <img
          class="h-[10rem]"
          src="../assets/partners/business service.png"
          alt="bussiness service logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/gilat.png"
          alt="gitlat logo"
        />

        <img
          src="../assets/partners/pccw-global-logo.png"
          alt="pccw global logo"
        />
        <img
          class="w-[20rem]"
          src="../assets/partners/china telecom.png"
          alt="china telecom logo"
        />
      </div>
    </div>
  </div>
</section>
