<footer
  class="min-h-[35rem] px-10 text-white flex items-center justify-center w-full bg-footer-bg"
>
  <div
    class="max-w-[73rem] mx-10 sm:mx-auto flex flex-col w-full min-h-[26.875rem]"
  >
    <div class="flex flex-wrap tablet:items-start gap-9 md:gap-16">
      <!--follow us-->
      <div class="order-3 sm:order-1">
        <div class="logo w-[15.5rem] h-[4.6rem]">
          <img
            src="../../../assets/VolticanLogo.png"
            class="w-full h-full object-cover"
            alt="logo"
          />
        </div>
        <div class="mt-8">
          <p
            class="text-mobileSubText sm:text-2xl h-[4.6rem] font-black 2xl:text-[1.75rem]"
          >
            Follow Us
          </p>
        </div>
      </div>
      <!--Contact us-->
      <div class="order-1 sm:order-2">
        <p
          class="text-mobileSubText sm:text-2xl mt-3 mb-4 md:mt-0 md:mb-0 md:h-[4.6rem] font-black 2xl:text-[1.75rem]"
        >
          Contact Us
        </p>
        <div class="text-mobileSubText font-normal">
          <p>6671 Southwest Fwy, Suite 300H</p>
          <p>Houston, Texas 77074</p>
          <p>admin@voltican.com</p>
          <p>+1 (713) 369-0997</p>
        </div>
      </div>
      <!--Useful links-->
      <div class="order-2 sm:order-3">
        <p
          class="text-mobileSubText sm:text-2xl mt-3 mb-4 md:mt-0 md:mb-0 md:h-[4.6rem] font-black 2xl:text-[1.75rem]"
        >
          Useful Links
        </p>
        <div class="text-mobileSubText flex gap-8 font-normal">
          <ul>
            <li class="hover:underline">
              <a href=""> About us</a>
            </li>
            <li class="hover:underline">
              <a href=""> Join our team</a>
            </li>
            <li class="hover:underline">
              <a href="">Solutions</a>
            </li>
          </ul>
          <ul>
            <li class="hover:underline">
              <a href=""> Certificates</a>
            </li>
            <li class="hover:underline">
              <a href="">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="mt-auto text-[0.8rem] md:text-xl 2xl:text-[1.75rem] font-normal border-t-4 flex justify-between border-[#CDCBCF] py-4"
    >
      <p>© {{ year }} Voltican. All Rights Reserved</p>
      <p>Privacy Policy</p>
    </div>
  </div>
</footer>
