<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/Telecommunications-Industry.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
    >
      SMS Services
    </h1>
  </section>
  <!--End Intro Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div
      class="max-w-[73rem] text-mobileSubText sm:text-subText flex flex-col gap-6 text-text-gray"
    >
      <p>
        As part of the license awarded to Afriwave Telecom by the National
        Communications Authority, Afriwave is also to connect and route SMS
        traffic among service providers and to monitor traffic volumes of each
        service provider.
      </p>
      <p>
        To drive effective SMS communication between businesses and clients,
        Afriwave Telecom have built an SMS platform called
        “APPLICATION-to-PERSON” (A2P) for all Valued Added Services (VAS) and
        Content providers to get to the MNOs from one place through the ICH.
      </p>
      <p>The following are the benefits of the SMS platform:</p>
      <div>
        <ul class="pl-10 list-disc">
          <li>
            The ICH “SMS” platform creates a single point of access to VAS &
            Content Providers and other components of the economy.
          </li>
          <li>
            Low entry barrier for VAS and content providers to get to the MNOs.
          </li>
          <li>
            Due to reduced entry barrier and the cost-effective as well as the
            simplified interconnect architecture, Content and Value-Added
            Service Providers as well as other Sectors of the Economy will be
            attracted to the telecom ecosystem.
          </li>
          <li>
            Through the ICH “SMS” platform customers shall be opened to more
            Content Services and other Sectors of the Economy.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/AfriwaveManagement/Management.JPG');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      The Interconnect ClearingHouse
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Your Gateway to the Telecom World
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section>
</div>
