<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../../assets/AfriwaveManagement/Group.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText text-center md:mt-48 capitalize sm:text-mainText font-bold text-white"
    >
      Management Team
    </h1>
  </section>
  <!--End Intro Section-->
  <!--Begin Experts Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div class="max-w-[73rem] w-full">
      <h1
        class="text-mobileHeading text-center xl:text-left sm:text-heading font-bold mb-8"
      ></h1>
      <p
        class="text-mobileSubText sm:text-subText mb-10 flex flex-col gap-6 text-text-gray"
      >
        Afriwave’s philosophy is guided by the company’s focus on technical
        proficiency, innovative solutions, project execution excellence and
        integrity of service. The company has hired the services of additional
        management staff and consultants taking into consideration backgrounds,
        coupled with years of experience in engineering, accounting and
        management
      </p>
      <div class="gap-6 justify-center flex-wrap flex w-full">
        <div
          *ngFor="let member of managementTeam"
          (click)="onShowExpert(member)"
          class="relative cursor-pointer group w-full flex items-end px-4 py-8 max-w-[23.125rem] h-[23.125rem]"
          style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0.2)
        ),
        url('{{ member.imageUrl }}');
      background-size: cover;
      background-repeat: no-repeat;
    "
        >
          <div class="text-[#ffffff] flex flex-col gap-2 w-full text-center">
            <p
              class="text-base 2xl:text-lg text-center text-[1.75rem] font-bold"
            >
              {{ member.name }}
            </p>
            <!-- <p class="text-sm 2xl:text-[1.5rem]">{{ member.position }}</p> -->
          </div>
          <div
            class="absolute p-6 flex items-center justify-center top-0 left-0 w-full h-full bg-overlay transition-all scale-0 group-hover:scale-100 ease-in-out duration-200 delay-100"
          >
            <div class="text-white flex flex-col gap-4 w-full text-center">
              <p
                class="text-base 2xl:text-lg text-center text-[1.75rem] font-bold"
              >
                {{ member.name }}
              </p>
              <p class="text-sm 2xl:text-[1.5rem] leading-10">
                {{ member.position }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Experts Section-->
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/AfriwaveManagement/Management.jpeg');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      The Interconnect ClearingHouse
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Your Gateway to the Telecom World
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section>
  <!--modal-->
  <div
    *ngIf="modalStatus"
    (click)="onShowExpert(selectedMember)"
    class="fixed overflow-auto z-40 top-0 left-0 right-0 py-10 bottom-0 w-full flex items-start justify-center h-full bg-modalBackground"
  >
    <div
      class="max-w-[80.5rem] flex flex-col sm:block p-6 sm:px-10 sm:py-10 lg:px-20 lg:py-20 w-full bg-white mx-4 md:mx-10 shadow-[0_4px_4px_rgba(0,0,0,0.25)]"
    >
      <div class="flex flex-col sm:flex-row gap-2">
        <div
          class="w-full flex-shrink-0 sm:max-w-[20.6rem] mr-10 mb-5 h-[20.63rem]"
          style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0.2)
        ),
        url('{{ selectedMember.imageUrl }}');
      background-size: cover;
      background-repeat: no-repeat;"
        ></div>
        <div>
          <p
            class="text-base text-text-black 2xl:text-base text-[1.75rem] font-bold"
          >
            {{ selectedMember.name }}
          </p>
          <p class="text-sm my-3 2xl:text-base">
            {{ selectedMember.position }}
          </p>

          <p class="text-text-gray leading-9 text-mobileSubText 2xl:text-base">
            {{ selectedMember.details }}
          </p>
          <br />
          <div>
            <a
              href="{{ selectedMember.linkedInUrl }}"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
              >
                <path
                  fill="#2366c2"
                  d="M26.2 4H5.8C4.8 4 4 4.8 4 5.7v20.5c0 .9.8 1.7 1.8 1.7h20.4c1 0 1.8-.8 1.8-1.7V5.7c0-.9-.8-1.7-1.8-1.7zM11.1 24.4H7.6V13h3.5v11.4zm-1.7-13c-1.1 0-2.1-.9-2.1-2.1c0-1.2.9-2.1 2.1-2.1c1.1 0 2.1.9 2.1 2.1s-1 2.1-2.1 2.1zm15.1 12.9H21v-5.6c0-1.3 0-3.1-1.9-3.1S17 17.1 17 18.5v5.7h-3.5V13h3.3v1.5h.1c.5-.9 1.7-1.9 3.4-1.9c3.6 0 4.3 2.4 4.3 5.5v6.2z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
