<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/ExpertsLarge.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText capitalize sm:text-mainText font-bold text-white"
    >
      Our Experts
    </h1>
  </section>
  <!--End Intro Section-->
  <!--Begin Experts Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div class="max-w-[73rem] w-full">
      <h1
        class="text-mobileHeading text-center xl:text-left sm:text-heading font-bold mb-8"
      >
        These are our experts
      </h1>
      <p
        class="text-mobileSubText sm:text-subText mb-10 flex flex-col gap-6 text-text-gray"
      >
        To deliver the excellence that we promise, Voltican has assembled a team
        of industry experts that have decades of experience and insight.
      </p>
      <div class="gap-6 justify-center xl:justify-start flex-wrap flex w-full">
        <div
          *ngFor="let item of [1, 2, 3, 4, 5, 6]"
          (click)="onShowExpert()"
          class="relative cursor-pointer group w-full flex items-end px-4 py-8 max-w-[23.125rem] h-[23.125rem] bg-text-gray"
        >
          <div class="text-[#2D2323] flex flex-col gap-2 w-full text-center">
            <p
              class="text-base 2xl:text-lg text-center text-[1.75rem] font-bold"
            >
              Howard Arlene
            </p>
            <p class="text-sm 2xl:text-[1.5rem]">Finance Manager</p>
          </div>
          <div
            class="absolute p-6 flex items-center justify-center top-0 left-0 w-full h-full bg-overlay transition-all scale-0 group-hover:scale-100 ease-in-out duration-200 delay-100"
          >
            <div class="text-white flex flex-col gap-4 w-full text-center">
              <p
                class="text-base 2xl:text-lg text-center text-[1.75rem] font-bold"
              >
                Howard Arlene
              </p>
              <p class="text-sm 2xl:text-[1.5rem]">Finance Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Experts Section-->
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/CLientsLarge.jpeg');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      We specialize in aligning your strategy and technology needs to your
      business strategy.
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Our reputation is driven by a strong conviction that a successful business
      investment requires an attention to detail to unlock value for any
      investment.
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section>
  <!--modal-->
  <div
    *ngIf="modalStatus"
    (click)="onShowExpert()"
    class="fixed overflow-auto z-40 top-0 left-0 right-0 py-10 bottom-0 w-full flex items-start justify-center h-full bg-modalBackground"
  >
    <div
      class="max-w-[80.5rem] flex flex-col sm:block p-6 sm:px-10 sm:py-10 lg:px-20 lg:py-20 w-full bg-white min-h-[44.5rem] mx-4 md:mx-10 shadow-[0_4px_4px_rgba(0,0,0,0.25)]"
    >
      <div
        class="w-full sm:max-w-[20.6rem] float-left mr-10 mb-5 h-[20.63rem] bg-text-gray"
      ></div>
      <p class="text-base text-text-black 2xl:text-lg text-[1.75rem] font-bold">
        Howard Arlene
      </p>
      <p class="text-sm my-3 2xl:text-subText">Finance Manager</p>

      <p
        class="text-text-gray leading-9 text-mobileSubText sm:text-subText 2xl:text-2xl"
      >
        Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco
        cillum dolor. Volup Nulla Lorem mollit cupidatat irure. Laborum magna
        nulla duis ullamco cillum dolor. Voluptate exercitation incididunt
        aliquip deserunt. tate exercitation incididunt aliquip deserunt. Nulla
        Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum
        dolor. Voluptate exercitation incididunt aliquip deserunt. Nulla Lorem
        mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
        Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco
        cillum dolor. Volup Nulla Lorem mollit cupidatat irure. Laborum magna
        nulla duis ullamco cillum dolor. Voluptate exercitation incididunt
        aliquip deserunt. tate exercitation incididunt aliquip deserunt. Nulla
        Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum
        dolor. Voluptate exercitation incididunt aliquip deserunt. Nulla Lorem
        mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
      </p>
    </div>
  </div>
</div>
