<nav
  class="w-full fixed top-0 bg-white z-30 shadow-xl px-4 xl:px-10 2xl:px-32 py-6 sm:py-2 min-h-[3.5rem] 2xl:min-h-[5rem]"
>
  <div class="max-w-[80rem] mx-auto flex items-center justify-between">
    <div
      class="logo h-[2.5rem] w-[8rem] cursor-pointer sm:w-[15.5rem] sm:h-[4.6rem]"
      routerLink="/"
    >
      <img
        src="../../../assets/afriwave123.png"
        class="w-full h-full object-contain"
        alt="logo"
      />
    </div>

    <button
      class="rounded-lg tablet:hidden focus:outline-none focus:shadow-outline"
      (click)="onToggleMenu()"
    >
      <svg fill="#0967c8" viewBox="0 0 20 20" class="w-8 h-8">
        <path
          x-show="!open"
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
    <!--nav links-->
    <ul
      class="hidden nav_links tablet:flex font-normal text-base gap-8 items-center"
    >
      <li
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="cursor-pointer hover:font-bold"
      >
        <a>Home</a>
      </li>
      <li class="group hover:font-bold cursor-pointer relative">
        <p class="flex gap-3 items-center">
          About us <span class="iconify" data-icon="ep:arrow-down-bold"></span>
        </p>
        <div
          id="dropdown"
          class="-left-10 hidden absolute group-hover:block z-50 w-max bg-white rounded divide-y divide-gray-100 shadow-md"
        >
          <ul
            class="py-1 text-base font-normal"
            aria-labelledby="dropdownDefault"
          >
            <li routerLink="/about/history" routerLinkActive="dropdown-active">
              <a class="block py-2 px-4 hover:bg-gray-100">History</a>
            </li>
            <li routerLink="/about/vision" routerLinkActive="dropdown-active">
              <a class="block py-2 px-4 hover:bg-gray-100"
                >Mission ,Vision & Values</a
              >
            </li>
            <li
              routerLink="/about/management-team"
              routerLinkActive="dropdown-active"
            >
              <a class="block py-2 px-4 hover:bg-gray-100">Management Team</a>
            </li>

            <!-- <li routerLink="/about/clients" routerLinkActive="dropdown-active">
              <a class="block py-2 px-4 hover:bg-gray-100"
                >Clients & Partners</a
              >
            </li> -->
            <li
              routerLink="/careers"
              routerLinkActive="active"
              class="hover:font-bold cursor-pointer"
            >
              <a>Careers</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="group cursor-pointer hover:font-bold relative">
        <p class="flex gap-3 items-center">
          Services<span class="iconify" data-icon="ep:arrow-down-bold"></span>
        </p>

        <div
          id="dropdown"
          class="-left-10 hidden absolute group-hover:block z-50 w-max bg-white rounded divide-y divide-gray-100 shadow-md"
        >
          <ul
            class="py-1 text-base font-normal"
            aria-labelledby="dropdownDefault"
          >
            <li routerLink="/services/ich" routerLinkActive="dropdown-active">
              <a class="block py-2 px-4 hover:bg-gray-100"
                >Interconnect ClearingHouse (ICH)</a
              >
            </li>
            <li
              routerLink="/services/data-centers"
              routerLinkActive="dropdown-active"
            >
              <a class="block py-2 px-4 hover:bg-gray-100"
                >Data Center Services</a
              >
            </li>
            <li class="traffic-routing">
              <p class="flex gap-3 items-center py-2 px-4 hover:bg-gray-100">
                Traffic Routing
                <span class="iconify" data-icon="ep:arrow-down-bold"></span>
              </p>
              <div
                id="dropdown"
                class="w-full bg-white rounded divide-y divide-gray-100 shadow-md"
              >
                <ul
                  class="py-1 text-base font-normal"
                  aria-labelledby="dropdownDefault"
                >
                  <li
                    routerLink="/services/sms-services"
                    routerLinkActive="dropdown-active"
                  >
                    <a class="block py-2 px-4 hover:bg-gray-100"
                      >SMS Services</a
                    >
                  </li>
                  <li
                    routerLink="/services/voice-routing"
                    routerLinkActive="dropdown-active"
                  >
                    <a class="block py-2 px-4 hover:bg-gray-100"
                      >Voice Routing</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>

      <!-- <li
        routerLink="/careers"
        routerLinkActive="active"
        class="hover:font-bold cursor-pointer"
      >
        <a>Careers</a>
      </li> -->
      <li
        class="hover:font-bold cursor-pointer"
        routerLink="/contact-us"
        routerLinkActive="active"
      >
        <a>Contact Us</a>
      </li>
      <li
        routerLink="/blogs"
        class="hover:font-bold cursor-pointer"
        routerLinkActive="active"
      >
        <a>Blogs</a>
      </li>
    </ul>
    <!--End nav links-->
  </div>
</nav>
<div
  class="z-50 tablet:hidden fixed top-0 left-0 right-0 bottom-0 h-full w-full bg-black/60"
  *ngIf="toggleMobileMenu"
>
  <div
    data-aos="zoom-in"
    data-aos-duration="200"
    class="bg-white z-50 flex flex-col items-center cursor-pointer px-6 pt-4 pb-10 gap-5 min-h-[20rem] w-full transition ease-out duration-100"
  >
    <svg
      fill="#0967c8"
      viewBox="0 0 20 20"
      class="w-8 h-8 self-end"
      (click)="onToggleMenu()"
    >
      <path
        x-show="open"
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>

    <div class="w-full flex-grow max-w-[30rem]">
      <ul class="flex flex-col font-normal text-base text-text-heading gap-8">
        <li
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="cursor-pointer hover:font-bold"
          (click)="onCloseDropdownMenu()"
        >
          <a>Home</a>
        </li>
        <li class="group hover:font-bold cursor-pointer relative">
          <p class="flex gap-3 items-center" (click)="onShowAboutUsMenu()">
            About us
            <span class="iconify" data-icon="ep:arrow-down-bold"></span>
          </p>
          <div id="dropdown" *ngIf="aboutUs" class="w-full divide-y">
            <ul
              class="py-1 text-base font-normal"
              aria-labelledby="dropdownDefault"
            >
              <li
                routerLink="/about/history"
                routerLinkActive="dropdown-active"
                (click)="onCloseDropdownMenu()"
              >
                <a class="block py-2 px-4 hover:bg-gray-100">History</a>
              </li>
              <li
                routerLink="/about/vision"
                routerLinkActive="dropdown-active"
                (click)="onCloseDropdownMenu()"
              >
                <a class="block py-2 px-4 hover:bg-gray-100"
                  >Mission ,Vision & Values</a
                >
              </li>
              <li
                routerLink="/about/management-team"
                routerLinkActive="dropdown-active"
                (click)="onCloseDropdownMenu()"
              >
                <a class="block py-2 px-4 hover:bg-gray-100">Management Team</a>
              </li>

              <!-- <li
                routerLink="about/clients"
                routerLinkActive="dropdown-active"
                (click)="onCloseDropdownMenu()"
              >
                <a class="block py-2 px-4 hover:bg-gray-100"
                  >Clients & Partners</a
                >
              </li> -->
              <li
                routerLink="/careers"
                routerLinkActive="active"
                class="hover:font-bold cursor-pointer"
                (click)="onCloseDropdownMenu()"
              >
                <a>Careers</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="group cursor-pointer hover:font-bold relative">
          <p class="flex gap-3 items-center" (click)="onServicesMenu()">
            Services<span class="iconify" data-icon="ep:arrow-down-bold"></span>
          </p>

          <div id="dropdown" *ngIf="services" class="w-full divide-y">
            <ul
              class="py-1 text-base font-normal"
              aria-labelledby="dropdownDefault"
            >
              <li
                routerLink="/services/ich"
                routerLinkActive="dropdown-active"
                (click)="onCloseDropdownMenu()"
              >
                <a class="block py-2 px-4 hover:bg-gray-100"
                  >Interconnect ClearingHouse (ICH)</a
                >
              </li>
              <li
                routerLink="/services/sms-services"
                routerLinkActive="dropdown-active"
                (click)="onCloseDropdownMenu()"
              >
                <a class="block py-2 px-4 hover:bg-gray-100">SMS Services</a>
              </li>
              <li
                routerLink="/services/voice-routing"
                routerLinkActive="dropdown-active"
                (click)="onCloseDropdownMenu()"
              >
                <a class="block py-2 px-4 hover:bg-gray-100">Voice Routing</a>
              </li>
              <li
                routerLink="/services/data-centers"
                routerLinkActive="dropdown-active"
                (click)="onCloseDropdownMenu()"
              >
                <a class="block py-2 px-4 hover:bg-gray-100"
                  >Data Center Services</a
                >
              </li>
            </ul>
          </div>
        </li>

        <!-- <li
          routerLink="/careers"
          routerLinkActive="active"
          class="hover:font-bold cursor-pointer"
          (click)="onCloseDropdownMenu()"
        >
          <a>Careers</a>
        </li> -->
        <li
          class="hover:font-bold cursor-pointer"
          routerLink="/contact-us"
          routerLinkActive="active"
          (click)="onCloseDropdownMenu()"
        >
          <a>Contact Us</a>
        </li>
        <li
          class="hover:font-bold cursor-pointer"
          routerLink="/blogs"
          routerLinkActive="active"
          (click)="onCloseDropdownMenu()"
        >
          <a>Blogs</a>
        </li>
      </ul>
    </div>
  </div>
</div>
