<section
  style="
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6)
      ),
      url('../../../assets/news.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
  class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
>
  <h1
    class="text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
  >
    Blogs & News
  </h1>
</section>
<!---BLOG PAGE CONTENT-->
<section class="blog-content">
  <div class="row">
    <div class="blog-left">
      <h1>Latest Blogs</h1>
      <div class="blog-container">
        <div class="blog-card" *ngFor="let blog of blogList">
          <img src="{{ blog.imageUrl }}" />
          <h2 class="capitalize">
            {{ blog.title }}
          </h2>
          <p>
            {{ blog.blogContent | truncate : 400 }}
          </p>
          <br class="hidden sm:block" />

          <a routerLink="{{ '/blogs/' + blog.id }}" class="hero-btn red-btn"
            >READ MORE</a
          >
          <br />
        </div>
      </div>

      <!-- <div class="comment-box">
        <h3>Leave a comment</h3>
        <form class="comment-form">
          <input type="text" placeholder="Enter Name" />
          <input type="email" placeholder="Enter Email" />
          <textarea rows="5" placeholder="Your comment"></textarea>
          <button type="submit" class="hero-btn red-btn">POST COMMENT</button>
        </form>
      </div> -->
    </div>

    <!-- <div class="blog-right">
      <h3>Other News</h3>
      <div>
        <li>
          <a href="afriwave-onix.html" style="text-decoration: none"
            ><span>Afriwave & ONIX </span></a
          >
        </li>
      </div>
      <div>
        <li>
          <a href="afriwave-smartafk2.html" style="text-decoration: none">
            <span>Smart Africa & Afriwave </span></a
          >
        </li>
      </div>
      <div>
        <li>
          <a href="csr.html" style="text-decoration: none"
            ><span>Corporate Social Responsibility</span></a
          >
        </li>
      </div>
    </div> -->
  </div>
</section>
