<section
  style="
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6)
      ),
      url('../../../assets/blogs.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
  class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
>
  <h1
    class="text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
  >
    Blogs & News
  </h1>
</section>
<!---BLOG PAGE CONTENT-->
<section class="blog-content">
  <div class="row">
    <div class="blog-left">
      <h1>Latest Blogs</h1>
      <img src="../../../../assets/francissmart.jpg" />
      <h2>
        Smart Africa and Afriwave Telecom enter into an agreement to advance
        connectivity and data capacity in Africa
      </h2>
      <p>
        Kigali, Rwanda – Monday, 8th November 2021 - Smart Africa and Afriwave
        Telecom Ghana Limited have announced a partnership where they will
        collaborate in the One Africa Network and Interconnect Clearinghouse
        initiative, the Data Centre and Cloud Project and the Intra-Africa
        Connectivity project to advance the digital transformation of the
        continent.
      </p>
      <br />

      <a href="afriwave-smartafk1.html" class="hero-btn red-btn">READ MORE</a>
      <br />
      <img src="../../../../assets/Amanfrom.jpg" />
      <h2>
        Afriwave Telecom provides quality water for the people of Ekye-Amanfrom
      </h2>
      <p>
        Afriwave Telecom Ghana Limited as part of its sustainable Corporate
        Social Responsibility (CSR) initiative has rehabilitated an existing
        water facility at Ekye Amanfrom in the Kwahu Afram Plains South District
        in the Eastern Region of Ghana.
      </p>
      <br />

      <a href="afriwave-water.html" class="hero-btn red-btn">READ MORE</a>
      <br />
      <img src="../../../../assets/smartAfrk.jpg" />
      <h2>
        Afriwave Telecom, A licensed Ghanaian Interconnect Clearinghouse (ICH)
        operator joins the Smart Africa Alliance.
      </h2>
      <p>
        Smart Africa has announced that Afriwave Telecom has become the latest
        private sector member of the Smart Africa Alliance. The organisations
        will work together towards the vision of transforming Africa into a
        single digital market. Smart Africa is an alliance of 32 African
        countries, international organisations and global private sector players
        tasked with defining Africa’s digital agenda.
      </p>
      <br />

      <a href="afriwave-smartafk2.html" class="hero-btn red-btn">READ MORE</a>

      <div class="comment-box">
        <h3>Leave a comment</h3>
        <form class="comment-form">
          <input type="text" placeholder="Enter Name" />
          <input type="email" placeholder="Enter Email" />
          <textarea rows="5" placeholder="Your comment"></textarea>
          <button type="submit" class="hero-btn red-btn">POST COMMENT</button>
        </form>
      </div>
    </div>

    <div class="blog-right">
      <h3>Other News</h3>
      <div>
        <li>
          <a href="afriwave-onix.html" style="text-decoration: none"
            ><span>Afriwave & ONIX </span></a
          >
        </li>
      </div>
      <div>
        <li>
          <a href="afriwave-smartafk2.html" style="text-decoration: none">
            <span>Smart Africa & Afriwave </span></a
          >
        </li>
      </div>
      <div>
        <li>
          <a href="csr.html" style="text-decoration: none"
            ><span>Corporate Social Responsibility</span></a
          >
        </li>
      </div>
    </div>
  </div>
</section>
