<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
    >
      Interconnect Clearing House (ICH) License
    </h1>
  </section>
  <!--End Intro Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div
      class="max-w-[73rem] text-mobileSubText sm:text-subText flex flex-col gap-6 text-text-gray"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vitae
        doloribus consequatur pariatur! Enim dolores quibusdam eveniet? Odit,
        beatae incidunt veniam quae quod pariatur accusantium. Nesciunt fuga
        quam explicabo iste?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit magnam
        iusto dolore ab dolorum rem in reprehenderit, earum doloremque culpa
        blanditiis ipsam a exercitationem porro? Placeat est impedit nam autem.
      </p>
      <div>
        <ul class="pl-10 list-disc">
          <li>lorem ipsum</li>
          <li>Rlorem ipsum</li>
          <li>lorem ipsum/li></li>
          <li>lorem ipsum</li>
          <li>lorem ipsum</li>
          <li>lorem ipsum</li>
        </ul>
      </div>
    </div>
  </section>
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/AfriwaveManagement/Management.JPG');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      We specialize in aligning your strategy and technology needs to your
      business strategy.
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Our reputation is driven by a strong conviction that a successful business
      investment requires an attention to detail to unlock value for any
      investment.
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section>
</div>
