<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
    >
      Interconnect ClearingHouse (ICH)
    </h1>
  </section>
  <!--End Intro Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div
      class="max-w-[73rem] text-mobileSubText sm:text-subText flex flex-col gap-6 text-text-gray"
    >
      <h3 class="font-bold text-subText capitalize text-black underline">
        the Interconnect ClearingHouse
      </h3>
      <p>
        In 2015, Afriwave Telecom Ghana Limited secured the license from the
        Government of Ghana through the National Communications Authority to
        build and operate facilities for the provision and operation of
        ClearingHouse services, pursuant to the provisions of National
        Communications Act, 2008 (Act,769)
      </p>
      <!-- <p>
        The operation of the Interconnect ClearingHouse (ICH) in Ghana received
        final legal backing when Parliament of Ghana in March 2016, unanimously
        passed the Electronic Communications (Amendment) Bill, 2016: ACT 910
        into law.
      </p>
      <p>
        Subsequently, in July 2016, the Parliament of Ghana approved the ICH
        regulation that covers and guides the operations of Interconnect
        ClearingHouse in Ghana.
      </p> -->
      <div>
        <p class="font-bold text-subText text-black underline">
          Benefit of ICH
        </p>
        <p class="mt-2 mb-2">The ICH has among others:</p>

        <ul class="pl-10 list-disc">
          <li>
            Sanitized the telecom industry by providing the platform to reduce
            billing disputes amongst Service Providers, and thus minimizing
            cases requiring mediation by the Regulator.
          </li>
          <li>
            Reduced CapEx and OpEx in setting up and maintaining interconnect
            links to other telecom and service providers.
          </li>
          <li>
            Enhanced interconnect cashflow and improve liquidity within the
            interconnect regime.
          </li>
          <li>
            Provided peculiar non-parallel infrastructure for the routing of
            International voice/SMS traffic by Licensed International Wholesale
            Carriers (IWCs).
          </li>
          <li>
            Created a single point for all Value-Added Service (VAS) providers
            to gain access to the Mobile Network Operators (MNOs) from one
            source.
          </li>
        </ul>
      </div>
    </div>
    <div
      class="max-w-[73rem] text-mobileSubText sm:text-subText flex flex-col gap-6 text-text-gray"
    >
      <p>
        The Interconnect Clearing house (ICH) has three (3) points of
        Interconnection in three different geographical locations which carries
        100% National Interconnect Traffic and International Traffic from
        International Wholesale Carriers to the Mobile Network Operators.
      </p>

      <ul class="pl-10 list-disc">
        <li>
          All our data centers have been strategically positioned for easy
          access to existing service provider networks
        </li>
        <li>
          Have been dimensioned and configured for automatic traffic recovery
          and load sharing.
        </li>
        <li>
          Connectivity between data centers is enhanced by complete fibre optics
          cable network.
        </li>
      </ul>
      <p>
        These provide clients with efficient and cost-effective options for
        interconnect.
      </p>
    </div>
  </section>
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/AfriwaveManagement/Management.jpeg');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      The Interconnect ClearingHouse
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Your Gateway to the Telecom World
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section>
</div>
