<section class="h-full my-16 py-16 px-6 sm:px-20 tablet:px-0 w-full">
  <div class="max-w-[80rem] flex mx-auto">
    <div
      class="grow-[0.6] flex flex-col pr-10 gap-10 border-r border-[#f1f1f1]"
    >
      <div class="hero-image h-[35rem] w-full">
        <img
          src="../../../../assets/2.jpg"
          alt=""
          srcset=""
          class="h-full w-full"
        />
      </div>
      <div class="title">
        <h1 class="text-4xl uppercase font-bold">
          NCA approves the Transfer of Majority Shares in Ghana
          Telecommunications Company Limited (Vodafone Ghana) to Telecel Group
        </h1>
      </div>
      <div class="date border-t border-[#f1f1f1] border-b py-5"></div>
      <div class="content text-subText">
        <p>
          The National Communications Authority (NCA) is pleased to announce
          that pursuant to the evaluation of the revised proposal from the
          Telecel Group, it has granted approval for the transfer of the 70%
          majority shares in Ghana Telecommunications Company Limited (Vodafone
          Ghana) held by Vodafone International Holdings B.V. (the Seller) to
          Telecel Group (the Buyer) subject to concessions made by the Seller
          and representations made by the Buyer to the NCA.
        </p>
        <br />
        <p>
          It would be recalled that in January 2022, the NCA received an
          application from Vodafone Ghana for the transfer of 70% of its
          majority shares held by the Seller to the Buyer. In accordance with
          due process, the Authority evaluated the application on various
          criteria and engaged both Vodafone Ghana and the Buyer. The NCA
          concluded that the request did not meet the regulatory threshold for
          approval to be granted.
        </p>
        <br />
        <p>
          Following the NCA’s decision, the Buyer resubmitted a revised
          financial and technical proposal in December 2022 which demonstrated
          the needed capital investment to extend the deployment of 4G and
          launch innovative Fintech solutions. The NCA found that the revised
          proposal provided more clarity and certainty in terms of the funding
          required for the acquisition and the commitments from both the Seller
          and Buyer. In addition, the Buyer has strengthened the overall
          governance and management team and made firm commitments towards
          meeting the regulatory requirements of the NCA.
        </p>
        <br />
        <p>
          Based on the above, the NCA confirms that the revised proposal from
          the Buyer now meets the regulatory threshold and hence has granted a
          conditional approval for the transfer of shares to the Buyer including
          submission of strategies for employee retention.
        </p>
        <br />
        <p>
          The NCA would like to assure the general public and all stakeholders
          that it would continue to work with Vodafone Ghana and the Buyer to
          complete all outstanding regulatory requirements to ensure a smooth
          transition as well as continuity of service delivery and improved
          choice for consumers and competition within the industry.
        </p>
        <br />
      </div>
    </div>
    <div class="w-full grow-[0.4] pl-10 border border-black"></div>
  </div>
</section>
