<section
  style="
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6)
      ),
      url('../../../assets/CLientsLarge.jpeg');
  "
  data-aos="fade-up"
  data-aos-delay="400"
  class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
>
  <h1
    class="text-mobileHeading p-2 sm:text-heading font-bold"
    data-aos="fade-left"
    data-aos-delay="300"
  >
    We specialize in aligning your strategy and technology needs to your
    business strategy.
  </h1>
  <p
    class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
    data-aos="fade-right"
    data-aos-delay="300"
  >
    Our reputation is driven by a strong conviction that a successful business
    investment requires an attention to detail to unlock value for any
    investment.
  </p>
  <button
    class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
    data-aos="fade-up"
    data-aos-delay="300"
  >
    Contact us
  </button>
</section>
