<section class="">
  <div class="max-w-[80rem] mx-auto w-full px-6 py-6 flex flex-col gap-6">
    <div class="flex flex-col gap-2">
      <h1 class="text-mobileHeading sm:text-heading font-bold text-center">
        AFRIWAVE TELECOM GHANA LIMITED DATA PROTECTION AND PRIVACY STATEMENT
      </h1>
      <h2
        class="text-mobileSubText sm:text-subText my-2 font-semibold text-center"
      >
        OUR DATA PROTECTION AND PRIVACY COMMITMENT
      </h2>
      <p>
        Data Protection and Privacy is important to Afriwave, and we know it is
        important to you. Afriwave Telecom Ghana Limited is committed to
        protecting your privacy, keeping your information safe and ensuring the
        security of your personal information. To provide you with the most
        effective products and services, your personal information will be
        collected, processed lawfully, stored securely, and would not be
        disclosed unlawfully to any third party. To this end, Afriwave is firmly
        committed to complying with applicable data protection laws,
        regulations, rules, and principles to ensure the security of Personal
        Data handled by the Company.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-mobileSubText sm:text-subText my-2 font-semibold">
        AFRIWAVE’S DATA PROTECTION AND PRIVACY STATEMENT
      </h2>
      <p>
        This Statement explains how Afriwave Telecom Ghana Limited collect, uses
        and protects your information. It extends to both our control and
        processing of personal information.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-mobileSubText sm:text-subText my-2 font-semibold">
        WHO DOES THIS STATEMENT APPLY TO?
      </h2>
      <p>This Statement applies to:</p>
      <ul class="list-disc">
        <li>
          All Customers and/or users who are natural persons or living
          individuals.
        </li>
        <li>All Customers and/or users who are organizations.</li>
        <li>
          All Afriwave Telecom employees and job applicants or prospective
          employees.
        </li>
        <li>
          All Afriwave Telecom suppliers, partners, and service providers.
        </li>
      </ul>
      <p class="italic font-semibold">
        What Personal Information does Afriwave Telecom Ghana Limited collect
        and use?
      </p>
      <p>
        Personal information collected and stored by Afriwave Telecom may
        include but is not limited to; name, sex, date of birth, addresses,
        mobile phone number, email address, occupation and information contained
        in supporting documents such as proof of identity and proof of address.
      </p>
      <p>
        Afriwave Telecom Ghana Limited and its authorized third parties may
        collect, store, and process the following types of Personal Information:
        Biometric Data, Racial or Ethnic Origin, financial information, for
        providing our services and for use of our website, information related
        to your utilization of our services which may include your call detail
        records, your browsing history on our website, location details and
        additional information provided while using our services.
      </p>
      <p>
        Afriwave Telecom Ghana Limited will rely on the following to process
        your personal data.
      </p>
      <ul class="list-disc">
        <li>
          <p>Legal Obligation</p>
          <p>
            In some circumstances, where the processing of personal data is
            necessary for the performance of an obligation conferred or imposed
            by law on Afriwave Telecom Ghana Limited, we will rely on Legal
            Obligation as a basis to process the personal information you have
            provided.
          </p>
        </li>
        <li>
          <p>Legitimate Interest</p>
          <p>
            Afriwave Telecom has legitimate business interests, for example,
            direct marketing and improvement of our services. Whenever we rely
            on this lawful basis to process your data, we assess our business
            interests to make sure they do not override your rights.
            Additionally, in some cases, you have the right to object to
            processing. See “Your Rights” section of the statement.
          </p>
        </li>
        <li>
          <p>Consent</p>
          <p>
            Afriwave Telecom may rely on the consent you provide in the absence
            of any other legal basis. Consent will always be presented
            separately to you, can be withdrawn at any time and you will be
            given details on how to do so.
          </p>
        </li>
        <li>
          <p>Contract</p>
          <p>
            We rely on contract as a legal basis to process your personal
            information when we need to deliver a contractual service to you or
            when it has become necessary to process data before entering a
            contract with you.
          </p>
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-mobileSubText sm:text-subText my-2 font-semibold">
        PURPOSE OF COLLECTING PERSONAL INFORMATION:
      </h2>
      <p>
        Afriwave Telecom Ghana Limited collects your personal information for a
        variety of business purposes. These include, but are not limited to:
      </p>
      <ul class="list-disc">
        <li>Verifying your identity.</li>
        <li>
          Completing transactions effectively and billing for products and
          services.
        </li>
        <li>Responding to your request for service or assistance.</li>
        <li>
          Performing market analysis and research as well as business and
          operational analysis.
        </li>
        <li>Providing, maintaining, and improving our services.</li>
        <li>
          Anticipating and resolving issues and concerns related to services.
        </li>
        <li>
          Promoting and marketing our services which may benefit you and be
          related to services you are currently enjoying; and
        </li>
        <li>
          Ensuring adherence to legal and regulatory requirements for the
          prevention and detection of fraud and crime.
        </li>
      </ul>
      <p>
        Afriwave Telecom Ghana Limited may keep a log of the activities
        performed by you on our network and websites by using various internet
        techniques such as web cookies, web beacons, server log files, etc. for
        analytical purposes, for analysis of the agreeableness of various
        features on our site and in accordance with requisite legal
        requirements. This information may be used to provide you with a better
        experience on our platforms.
      </p>
      <p>
        At any time while you are browsing our website, if you do not wish to
        share browsing information, you may opt out of receiving the cookies
        from our site by making appropriate changes to your browser privacy
        settings.
      </p>
      <p>
        If you do not provide your consent for the usage of personal information
        or later withdraw your consent for the use of the personal information
        so collected, Afriwave Telecom Ghana Limited will not be able to provide
        certain services to you.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-mobileSubText sm:text-subText my-2 font-semibold">
        DISCLOSURE AND TRANSFER OF PERSONAL INFORMATION
      </h2>
      <ul class="list-disc">
        <li>
          Collection of Personal Information: Afriwave Telecom will obtain your
          consent for sharing your personal information in several ways, such as
          in writing, online, orally, or when your consent is part of the terms
          and conditions which apply to our services.
        </li>
        <li>
          Internal Use: Afriwave Telecom and its employees may utilize some or
          all available personal information for legitimate business purposes
          and related activities within the parameters mentioned above.
        </li>
        <li>
          Third Parties: Afriwave may have to share your personal information
          with third parties, including third-party service providers,
          sub-contractors, and other entities within Afriwave Telecom. A ‘Third
          Party’ is a service provider who is contracted by Afriwave Telecom to
          provide a service or product which may include the handling, managing,
          storing, processing, protecting, and transmitting information of and
          for Afriwave Telecom. This includes all sub-contractors, consultants
          and/or representatives of the Third Party. We require third parties to
          respect the security of your data and to treat it in accordance with
          applicable laws.
        </li>
        <li>
          Government and Law Enforcement Agencies: We may also share your
          personal information with Government agencies or other authorized Law
          Enforcement Agencies (LEAs) mandated under law to obtain such
          information for the purpose of verification of identity or for
          prevention, detection, investigation including but not limited to
          cyber incidents, the investigation and prosecution of crime, and as is
          required by law.
        </li>
        <li>
          Transfer: Afriwave Telecom Ghana Limited may transfer your personal
          information or other information or data collected, stored, or
          processed by us to any other entity or third party located outside the
          country of service, only, if necessary, for legitimate business
          purposes for providing services to you. This may also include sharing
          aggregated information with third parties contracted to Afriwave
          Telecom for them to understand our environment and consequently,
          provide you with better services. While sharing your personal
          information with third parties, reasonable organizational, technical
          and security measures shall be taken to ensure that reasonable
          security practices are followed by the third party and are in line
          with the Data Protection Principles and Regulations.
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-mobileSubText sm:text-subText my-2 font-semibold">
        SECURITY PRACTICES AND PROCEDURES
      </h2>
      <p>
        Afriwave Telecom adopts reasonable security practices and procedures, in
        line with international standards to include technical, and
        organizational security safeguards to protect your personal information
        from unauthorized access, or disclosure while it is under our control.
      </p>
      <p>
        Afriwave Telecom's security practices and procedures are within industry
        standards. Further, our employees and service providers/partners are
        bound by Codes of Conduct and Confidentiality Policies which require
        them to protect the confidentiality of personal information they access.
      </p>
      <p>
        We may retain your personal information for as long as required to
        provide you with services or as otherwise required under any law.
      </p>
      <p>
        When we dispose of your personal information, we use reasonable
        procedures to erase it or render it unreadable/anonymized.
      </p>
      <ul class="list-disc">
        <li>
          Internet Use: We maintain the security of our internet connections and
          observe reasonable security measures to protect your personal
          information against hacking and virus dissemination. However, for
          reasons outside of our control, security risks may still arise.
        </li>
        <li>
          <p>Storage: How do we keep your information?</p>
          <ul class="list-decimal">
            <li>
              Afriwave Telecom may store your information in hard copy or
              electronic format and keep it in storage facilities that we own
              and operate ourselves, or that are owned and operated by our 3rd
              parties/ service providers.
            </li>
            <li>
              We use a combination of technical solutions, security controls and
              internal processes to help us protect your information and our
              network from unauthorized access and disclosure.
            </li>
          </ul>
        </li>
        <li>
          Accuracy: We endeavour to ensure that personal information is accurate
          and encourage you to update your personal information in our
          possession as and when it changes by contacting us on the information
          provided below.
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-mobileSubText sm:text-subText my-2 font-semibold">
        YOUR RIGHTS
      </h2>

      <ul class="list-disc">
        <li>
          <p>Right to access personal information:</p>
          <p>
            You have the right to make a request for a copy of the personal
            information that Afriwave Telecom holds about you (including
            advertising audience categories and inferred information) as
            permitted by law.
          </p>
        </li>

        <li>
          <p>Right to correct personal information:</p>
          <p>
            You have the right to correct the information held about you to
            ensure it is accurate, relevant, complete, and not excessive.
          </p>
        </li>
        <li>
          <p>Right to object to the use of personal information:</p>
          <p>
            You have the right to object to Afriwave Telecom processing your
            personal information, in certain circumstances as permitted by law.
            However, in instances where the basis for processing is Legal
            Obligation, you may not be able to exercise your right to object.
          </p>
        </li>
        <li>
          <p>Right to opt-out of marketing messages:</p>
          <p>
            Afriwave Telecom will not issue targeted marketing to you unless you
            consent for us to do so. If you no longer want to receive marketing
            messages from Afriwave Telecom Ghana Limited, you can choose to
            opt-out at any time using the means made available to you. If you
            have previously opted in to receive personalized content based on
            how and where you use our network, you can also opt-out at any time.
          </p>
        </li>
      </ul>
    </div>
    <div>
      <h2 class="text-mobileSubText sm:text-subText my-2 font-semibold">
        CONTACT- HOW TO EXERCISE ANY OF THE ABOVE-MENTIONED RIGHTS.
      </h2>

      <p>
        If you have any queries in any aspect of this privacy statement or if
        you would want to exercise any of the rights mentioned above, please
        send an email to info@afriwavetelecom.com and our Data Protection
        Supervisor will respond to you.
      </p>
    </div>

    <div>
      <h2 class="text-mobileSubText sm:text-subText my-2 font-semibold">
        CHANGES TO POLICY
      </h2>

      <p>
        We reserve the right to modify this Data Protection and Privacy
        Statement as and when required. We will post any changes to our Privacy
        Notice on our website:
        <a
          href="https://www.afriwavetelecom.com/"
          target="_blank"
          class="text-blue-900 underline"
          rel="noopener noreferrer"
          >[ www.afriwave telecom.com.gh ].</a
        >
        We encourage you to check frequently to see the current Data Protection
        and Privacy Statement to be informed of how Afriwave Telecom Ghana
        Limited is committed to protecting your information and providing you
        with improved content on our site to enhance your experience.
      </p>
    </div>
  </div>
</section>
