<main class="min-h-screen relative text-text-black w-full">
  <div class="overlay" #overlayRef>
    <h1 class="text-mobileMainText font-bold">WELCOME TO AFRIWAVE TELECOM</h1>
  </div>
  <app-navbar></app-navbar>
  <div class="mt-20">
    <router-outlet></router-outlet>

    <!--Begin News letter Section-->
    <section
      *ngIf="!isClientRoute"
      class="min-h-[18.8rem] px-6 sm:px-10 py-6 tablet:py-0 flex flex-col tablet:flex-row gap-10 items-center justify-center bg-primary"
    >
      <div class="text-white">
        <h1 class="text-mobileMainText sm:text-mainText font-bold mb-4">
          Newsletter
        </h1>
        <p
          class="text-mobileSubText sm:text-subText font-normal max-w-[31.4rem] w-full"
        >
          Signup our newsletter to get update information, news or insight.
        </p>
      </div>
      <div
        class="flex w-full sm:w-auto flex-col gap-4 tablet:flex-row sm:gap-8"
      >
        <input
          type="email"
          id="email"
          class="bg-transparent border border-gray-300 h-12 sm:h-[4rem] text-white placeholder:text-white text-lg sm:text-xl focus:ring-blue-500 focus:border-blue-500 block px-4 md:w-[30.5rem] w-full"
          placeholder="Enter your email"
          required
        />
        <button
          class="px-10 w-full tablet:w-max py-3 bg-primary-dark text-xl text-white"
        >
          Submit
        </button>
      </div>
    </section>

    <!--Begin Trusted companies-->
    <section
      class="max-w-[80rem] px-6 py-4 sm:px-10 sm:py-10 mx-auto mt-10 w-full"
    >
      <h1
        class="text-mobileHeading sm:text-heading text-text-heading my-4 capitalize font-bold text-center"
      >
        Clients, Partners & Authority
      </h1>
      <h2
        class="text-center text-subText mb-4 sm:text-mobileHeading text-[#010101]"
      >
        Some Technology Partners and Satisfied clients
      </h2>

      <p
        class="text-center font-light mx-auto text-[#010101] text-mobileSubText sm:text-subText max-w-[60.25rem] mt-5 w-full"
      >
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga laborum
        quas tempora odio? Consequuntur nulla vitae ipsa sequi pariatur culpa
        autem totam, voluptatem soluta natus fuga inventore, accusantium maxime
        minima.
      </p>
      <div class="my-8 grid-cleints-cols-minmax max-w-[80rem] w-full">
        <img
          class="h-[10rem]"
          src="../assets/partners/CSquared.png"
          alt="csquared logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/Mtn Logo.png"
          alt="mtn logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/Vodafone Logo.png"
          alt="vodafone logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/AirtelTigo.jpg"
          alt="airtel tigo logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/DolphinNet.png"
          alt="dolphinet logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/Huawei.jpg"
          alt="Huawei logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/Ivoco.jpg"
          alt="Ivoco logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/MoC logo.jpg"
          alt="Moc logo"
        />

        <img
          class="h-[10rem]"
          src="../assets/partners/Nita.jpg"
          alt="Nita logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/Onix Logo.jpg"
          alt="onix logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/Smart Africa Logo.png"
          alt="smart africa logo"
        />
        <img
          class="h-[10rem]"
          src="../assets/partners/Ultranet.png"
          alt="ultranet logo"
        />
      </div>
    </section>
    <app-footer></app-footer>
  </div>
</main>
