<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('https://firebasestorage.googleapis.com/v0/b/afriwave-telecom-site-rebuild.appspot.com/o/WhatsApp%20Image%202023-09-26%20at%209.20.14%20PM.jpeg?alt=media&token=f73f24be-4d89-4b74-8d11-edee333c0238');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
    >
      SMS Services
    </h1>
  </section>
  <!--End Intro Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div
      class="max-w-[73rem] text-mobileSubText sm:text-subText flex flex-col gap-6 text-text-gray"
    >
      <p>
        Building upon our expertise in the telecommunications industry, we offer
        a comprehensive suite of solutions designed to meet your messaging needs
        with unrivalled efficiency and reliability. Take your communication
        strategy to new heights with Afriwave Telecom's innovative SMS services.
      </p>
      <div>
        <p class="font-bold text-subText text-black underline">Why Afriwave?</p>
        <p class="mt-2 mb-2">
          Discover the Power of Afriwave Telecom's A2P and P2P SMS Services:
        </p>

        <ul class="pl-10 list-disc">
          <li>
            <span class="text-[#4472c4]">Seamless Messaging:</span> Experience
            smooth and uninterrupted communication with our robust A2P
            (Application-to-Person) and P2P (Person-to-Person) SMS platform.
            Effortlessly send and receive messages, whether you are delivering
            automated messages from applications or engaging in personal
            conversations.
          </li>
          <li>
            <span class="text-[#4472c4]">Expanded Coverage:</span> Reach
            customers wherever they are with our extensive network coverage for
            both A2P and P2P SMS. Our strong partnerships with Mobile Network
            Operators ensure prompt and reliable message delivery, regardless of
            geographical boundaries. Expand your reach and connection with us.
          </li>
          <li>
            <span class="text-[#4472c4]">Transparent Billing:</span> Say goodbye
            to hidden fees and complicated billing structures. At Afriwave
            Telecom, we believe in transparency and simplicity. Our
            straightforward billing system provides full visibility into your
            A2P and P2P SMS usage, enabling you to stay in control of costs and
            make informed decisions.
          </li>
          <li>
            <span class="text-[#4472c4]">ICH SMS Empowerment:</span> Unlock the
            true potential of A2P and P2P SMS with our cutting-edge ICH SMS
            solution. At Afriwave, we offer a single point of entry to Mobile
            Network Operators (MNOs), streamlining your operations and enabling
            seamless delivery of both A2P and P2P SMS services. Enhance your
            messaging capabilities and stay ahead of the competition with our
            powerful ICH SMS solution.
          </li>
        </ul>
      </div>
    </div>
    <div
      class="max-w-[73rem] text-mobileSubText sm:text-subText flex flex-col gap-6 text-text-gray"
    >
      <p>
        Ready to revolutionise your communication strategy? Discover the power
        of Afriwave Telecom's SMS services and unlock unparalleled opportunities
        in the Value Added Service (VAS) landscape. Trust in our expertise,
        reliability, and commitment to delivering excellence. Join us on this
        exciting journey and experience the future of SMS with Afriwave Telecom.
      </p>
      <p>
        Contact us now to explore the possibilities of our P2P and A2P SMS
        services and leverage the advantages of our ICH SMS solutions. Let's
        embark on a journey of success together.
      </p>
    </div>
  </section>
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/AfriwaveManagement/Management.JPG');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      The Interconnect ClearingHouse
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Your Gateway to the Telecom World
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section>
</div>
