<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.3)
        ),
        url('../../../assets/ContactUs Afriwave.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full relative"
  >
    <!-- <h1 class="text-mobileMainText sm:text-mainText font-bold text-white">
      Contact Us
    </h1> -->
  </section>
  <!--End Intro Section-->
  <!--Begin Contact Form-->
  <section
    class="my-16 px-6 sm:px-20 tablet:px-0 flex w-full items-center flex-col justify-center"
  >
    <div class="max-w-[73rem] w-full">
      <div
        class="flex flex-col flex-wrap sm:flex-row mb-20 gap-3 sm:gap-10 tablet:gap-32 w-full text-text-black"
      >
        <div class="text-mobileSubText md:text-subText">
          <h1 class="my-2 font-bold">Address</h1>
          <p># 10 William Tubman Road</p>
          <p class="mb-10">North Ridge, Accra - Ghana</p>
          <a
            class="bg-text-heading w-max px-4 py-4 text-white text-lg font-bold"
            href="https://www.google.com/maps/place/Afriwave+Telecom/@5.5609495,-0.2024976,17z/data=!3m1!4b1!4m6!3m5!1s0xfdf9a7830913007:0xe70cb663e96fbe49!8m2!3d5.5609495!4d-0.2024976!16s%2Fg%2F11cs228grz"
            target="_blank"
            rel="noopener noreferrer"
          >
            Get directions
          </a>
        </div>
        <div class="text-mobileSubText md:text-subText">
          <h1 class="my-2 font-bold">Phone</h1>
          <p class="font-normal">+233 (0) 30 701 2666</p>
        </div>
        <div class="text-mobileSubText md:text-subText">
          <h1 class="my-2 font-bold">Email</h1>
          <p>info@afriwavetelecom.com</p>
        </div>
      </div>
      <form class="w-full tablet:px-0">
        <div class="flex flex-col md:flex-row gap-8 justify-between w-full">
          <!--name-->
          <div
            class="form-control flex gap-4 relative tablet:max-w-[35.625rem] w-full"
          >
            <div class="relative w-full">
              <div
                class="flex absolute inset-y-0 left-0 items-center pointer-events-none"
              >
                <span
                  class="iconify text-3xl"
                  data-icon="carbon:user-filled"
                ></span>
              </div>
              <input
                type="text"
                id="name"
                class="block px-4 py-6 pl-12 w-full border-b-2 text-mobileSubText md:text-subText placeholder:text-text-gray border-border-gray focus:outline-none focus:border-text-black"
                placeholder="Name"
              />
            </div>
          </div>
          <!--Email-->
          <div
            class="form-control flex gap-4 relative tablet:max-w-[35.625rem] w-full"
          >
            <div class="relative w-full">
              <div
                class="flex absolute inset-y-0 left-0 items-center pointer-events-none"
              >
                <span
                  class="iconify text-3xl"
                  data-icon="fa6-solid:envelope-open-text"
                ></span>
              </div>
              <input
                type="email"
                id="email"
                class="block px-4 py-6 pl-12 w-full border-b-2 text-mobileSubText md:text-subText placeholder:text-text-gray border-border-gray focus:outline-none focus:border-text-black"
                placeholder="example@gmail.com"
              />
            </div>
          </div>
        </div>
        <div
          class="flex flex-col tablet:flex-row gap-8 mt-10 justify-between w-full"
        >
          <!--Subject-->
          <div
            class="form-control flex gap-4 relative tablet:max-w-[35.625rem] w-full"
          >
            <div class="relative w-full">
              <div
                class="flex absolute inset-y-0 left-0 items-center pointer-events-none"
              >
                <span
                  class="iconify text-3xl"
                  data-icon="fa-solid:address-card"
                ></span>
              </div>
              <input
                type="text"
                id="subject"
                class="block px-4 py-6 pl-12 w-full border-b-2 text-mobileSubText md:text-subText placeholder:text-text-gray border-border-gray focus:outline-none focus:border-text-black"
                placeholder="Subject"
              />
            </div>
          </div>
          <!--phone number-->
          <div
            class="form-control flex gap-4 relative tablet:max-w-[35.625rem] w-full"
          >
            <div class="relative w-full">
              <div
                class="flex absolute inset-y-0 left-0 items-center pointer-events-none"
              >
                <span
                  class="iconify text-3xl"
                  data-icon="ic:baseline-phone-iphone"
                ></span>
              </div>
              <input
                type="text"
                id="phoneNumber"
                class="block px-4 py-6 pl-12 w-full border-b-2 text-mobileSubText md:text-subText placeholder:text-text-gray border-border-gray focus:outline-none focus:border-text-black"
                placeholder="Phone Number"
              />
            </div>
          </div>
        </div>
        <div class="flex mt-20 pt-3 justify-between w-full">
          <!--Subject-->
          <div class="form-control relative w-full">
            <label
              for="message"
              class="text-mobileSubText md:text-subText text-text-gray"
              >Enter Your Messages</label
            >
            <div class="relative w-full">
              <textarea
                type="text"
                id="subject"
                class="block py-6 w-full border-b-2 h-[6rem] text-mobileSubText md:text-subText border-border-gray focus:outline-none focus:border-text-black"
              ></textarea>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col gap-4 sm:flex-row w-full sm:mt-3 sm:items-center justify-between"
        >
          <p class="text-text-gray text-[0.8rem] md:text-subText">
            *Your email address will not be published.
          </p>
          <button
            class="px-10 w-full sm:w-max py-3 bg-primary-dark text-xl text-white"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </section>
  <!--End Contact Form-->
  <!--Map-->
  <!-- <section
    class="h-[30rem] border border-red-900 w-full max-w-[80rem] mb-10 mx-auto"
  >
    <iframe
      class="h-full w-full"
      src="https://www.google.com/maps/place/Afriwave+Telecom/@5.5609495,-0.2024976,17z/data=!3m1!4b1!4m6!3m5!1s0xfdf9a7830913007:0xe70cb663e96fbe49!8m2!3d5.5609495!4d-0.2024976!16s%2Fg%2F11cs228grz"
      frameborder="0"
    ></iframe>
  </section> -->
</div>
