<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/BigDataandEnginerringLarge.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
    >
      Big Data &amp; Engineering
    </h1>
  </section>
  <!--End Intro Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div
      class="max-w-[73rem] text-mobileSubText sm:text-subText flex flex-col gap-6 text-text-gray"
    >
      <p>
        Companies and organizations collect a lot of data in their everyday
        endeavours, sometimes this data is voluminous and has many different
        parts to it making it difficult for one to make sense of it. Data can be
        overwhelming, but Voltican knows what to do with your data to the
        benefit of your business! Our Data engineering experts are able to help
        you collect data, scrub your data, and generally prepare and process
        your data.
      </p>
      <p>
        We employ cost-effective, innovative forms of information processing for
        enhanced insight and decision-making. Our teams are made up of experts
        who are hands-on with tools such as Hadoop and Spark with solid
        understanding and experience in:
      </p>
      <div>
        <ul class="pl-10 list-disc">
          <li>Data models</li>
          <li>Relational and non-relational database design</li>
          <li>Information flow</li>
          <li>Query execution and optimization</li>
          <li>Comparative analysis of data stores</li>
          <li>Logical operations</li>
        </ul>
      </div>
      <p>
        What we seek to do for you at the end of the day is to change the way
        you do business by helping you to manage your data.
      </p>
    </div>
  </section>
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/CLientsLarge.jpeg');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      We specialize in aligning your strategy and technology needs to your
      business strategy.
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Our reputation is driven by a strong conviction that a successful business
      investment requires an attention to detail to unlock value for any
      investment.
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section>
</div>
