@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  font-family: "Lato", sans-serif;
  //font-family: "Montserrat", sans-serif;
  // font-family: "Segoe UI";
  overflow-x: hidden;
  //scroll-behavior: smooth;
  // scroll-padding: 2rem;
}

/* Animation */

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fade-up 4s cubic-bezier(0.05, 0.98, 0.17, 0.97) forwards;
  animation-delay: 0.2s;
}

/*
 *  STYLE 14
 */

// body::-webkit-scrollbar-track {
//   background-color: #cccccc;
// }

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(9 103 199) 0%,
    rgb(9 103 199) 25%,
    transparent 100%,
    rgb(9 103 199) 75%,
    transparent
  );
}
