<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/OtherServicesLarge.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
    >
      Voltican Edge
    </h1>
  </section>
  <!--End Intro Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div
      class="max-w-[73rem] flex flex-col gap-6 text-mobileSubText sm:text-subText text-text-gray"
    >
      <p>
        At Voltican, we have continually helped businesses – both small and
        medium-sized - take advantage of new opportunities and anticipate trends
        irrespective of the changing economic landscape. We understand the
        corporate bottom line and know the factors that ensure project success.
        Our work is making our clients succeed
      </p>
      <p>
        Our custom solutions and business technology packages deliver what your
        company needs without overstepping the boundaries of your company’s
        resources.
      </p>
      <p>
        At Voltican, we do our best work when we listen to what matters the most
        to your organization and offer sustainable recommendations. Our
        professional goal is to make a tangible difference in your organization
        through solutions that improve processes.
      </p>
      <p>
        Our team is made up of business professionals who love what we do- so
        bringing the right solution to our clients is not just what we do – it
        is who we are.
      </p>
      <p>
        Our success is attributable to the outstanding quality of our culture,
        understanding of business life cycles, and business strategy focused on
        excellence in client service.
      </p>
      <p>
        Our knowledge of industry trends and growth drivers guides continuing
        business recommendations and project execution initiatives. We are
        confident that our proactive approach enhances opportunities to add
        value to every project.
      </p>
      <p>
        The value we create in every project or assignment reflects our
        knowledge base and experience to effectively implement business plans.
        We call this the Voltican Edge.
      </p>
    </div>
  </section>
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/CLientsLarge.jpeg');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      We specialize in aligning your strategy and technology needs to your
      business strategy.
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Our reputation is driven by a strong conviction that a successful business
      investment requires an attention to detail to unlock value for any
      investment.
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section>
</div>
