<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/6.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
    >
      Our History
    </h1>
  </section>
  <!--End Intro Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div
      class="max-w-[73rem] flex flex-col gap-6 text-mobileSubText sm:text-subText text-text-gray"
    >
      <p>
        Established in 1998 to provide services to meet the rising demand of
        telecommunications as the industry began to boom.
      </p>
      <p>
        It was the dream made a reality by a group of dynamic people who saw the
        strategic need of such a service provider as the dawn of
        telecommunications and digital age beckoned.
      </p>
      <p>
        In February 2015, Afriwave received authorization as Ghana's first
        Interconnect Clearing House license after a competitive bidding process
        against four other applicants.
      </p>

      <p>
        As a licensee, Afriwave has the mandate to provide a common, independent
        mechanism for monitoring, routing, billing and settlement of local and
        international interconnect traffic for all existing and future
        telecommunications operators in the country.
      </p>
      <p>
        Afriwave Telecom is in the league of local leaders providing telecom
        solutions and has a track record of utilizing competent skills and
        expertise to provide a complete range of professional and end-to-end
        telecommunication services in the country.
      </p>
      <div>
        <h3 class="font-bold text-subText text-black">
          Interconnect Clearing House (ICH) License Scope & Deliverables
        </h3>
        <p class="text-md">
          Per the amended license issued to Afriwave by the National
          Communications Authority, Afriwave is licensed to provide the
          following:
        </p>
        <ul class="list-disc flex flex-col gap-2">
          <li>
            The Licensee shall provide capacity and routing for both IP and TDM
            based traffic and to ensure full interoperability of all networks
            and service providers in the country.
          </li>
          <li>
            Nothing in this Licence takes away the need to obtain any other
            Licence for the purposes of providing such other services that are
            not covered by this Licence and as may be required under the Act, EC
            Act, EC Amendment Act or any other enactment.
          </li>
          <li>
            The Licensee shall obtain all necessary licences and permits
            including building permits and other non-telecommunication permits
            required to build, implement, modify and remove installations and
            building in accordance with the applicable laws and regulations in
            Ghana.
          </li>
          <li>
            Provision of data packet measurement and differentiation tools for
            Quality of Service and Price Regulatory compliance.
          </li>
          <li>
            Connectivity to Number Portability Services, Bank Switch, and
            Internet Connect Exchange respectively as and when required.
          </li>
          <li>
            The capability, if needed, to host local and international
            Over-The-Top (OTT) service providers.
          </li>
          <li>
            The capability to provide a common infrastructure for Government
            Agencies to host ICT Systems and Applications and to store
            confidential data securely.
          </li>
          <li>
            This Licence shall be for the provision and operation of
            Interconnect Clearinghouse services using radio, cable, satellite or
            a combination of any of these systems deployed for the purpose of
            providing point-to-point or point-to-multipoint communication for
            the connection to service providers for the conveyance of voice,
            data and video.
          </li>
          <li>
            The Licensee shall maintain the capability to connect and route
            voice, SMS, MMS, or any other telecommunications traffic among
            service provider and to monitor traffic volumes of each service
            provider.
          </li>
          <li>The Licensee shall provide prevent fraud on its system.</li>
          <li>
            The Licensee shall provide the relevant information for the monthly
            reconciliation between Connecting Entities.
          </li>
        </ul>
        <p class="font-bold text-subText mt-4 mb-2 text-black">
          The Licensee (Afriwave Telecom) is authorised to connect to
          Interconnect Clearinghouse to:
        </p>
        <ul class="list-disc flex flex-col gap-2">
          <li>
            Any other telecommunications network operated under a Licence
            granted by the Authority in accordance with the Act.
          </li>
          <li>Any recognized telecommunications network outside Ghana.</li>
          <li>
            Any earth orbiting apparatus in accordance with applicable
            requirement.
          </li>
          <li>Any terminal equipment approved by the Authority.</li>
        </ul>
      </div>
    </div>
  </section>
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/AfriwaveManagement/Management.JPG');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      We specialize in aligning your strategy and technology needs to your
      business strategy.
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Our reputation is driven by a strong conviction that a successful business
      investment requires an attention to detail to unlock value for any
      investment.
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section>
</div>
