<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/DataAnalytics.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText text-center tablet:text-left sm:text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
    >
      Data Analytics And Modern BI
    </h1>
  </section>
  <!--End Intro Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div
      class="max-w-[73rem] flex flex-col gap-6 text-mobileSubText sm:text-subText text-text-gray"
    >
      <p>
        Every modern business has data analytics and business intelligence
        needs; needs which when met, go a long way to ensuring better
        effectiveness and business success. The insights that can be drawn from
        good analytics will help your business to properly understand industry
        and market data and place you in a better position to create strategy
        and implement processes for growth. At Voltican, our multi-tool approach
        allows us to combine the strengths of various Data Analytics and Modern
        BI tools from our partners to deliver the most relevant business
        intelligence to meet your needs.
      </p>
      <div>
        Our Data Analytics and Modern BI services include:
        <ul class="pl-10 list-disc">
          <li>Data Mining</li>
          <li>Data Visualization</li>
          <li>Information Reporting and so on</li>
        </ul>
      </div>
      <p>
        We recognize today’s data challenges and opportunities. Our experts
        approach them from a pragmatic “one size does not fit all” perspective.
        Our teams and solutions are tailored specifically to bring both the
        right technology and business expertise to each project dramatically
        improving BI adoption throughout your enterprise.
      </p>
    </div>
  </section>
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/CLientsLarge.jpeg');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      We specialize in aligning your strategy and technology needs to your
      business strategy.
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Our reputation is driven by a strong conviction that a successful business
      investment requires an attention to detail to unlock value for any
      investment.
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section>
</div>
