<div class="text-text-black">
  <!--Begin Intro Section-->
  <section
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('../../../assets/6.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
    class="h-[16rem] md:h-[32rem] flex items-center justify-center w-full"
  >
    <h1
      class="text-mobileMainText text-center tablet:text-left sm:text-mainText font-bold text-white capitalize"
    >
      Mission, Vission & Values
    </h1>
  </section>
  <!--End Intro Section-->
  <section
    class="my-16 px-6 py-4 sm:px-10 sm:py-6 flex w-full items-center gap-8 flex-col justify-center"
  >
    <div
      class="max-w-[73rem] flex flex-col gap-6 text-mobileSubText sm:text-subText text-text-gray"
    >
      <div>
        <h3
          class="text-text-heading text-mobileHeading sm:text-heading font-bold"
        >
          Our Vision
        </h3>
        <p>
          To be the premier provider of high quality data center, interconnect
          and financial clearinghouse services to telecommunications operators,
          service providers and SME's in the sub-Sahara Africa.
        </p>
      </div>

      <div>
        <h3
          class="text-text-heading text-mobileHeading sm:text-heading font-bold"
        >
          Our Mission
        </h3>
        <p>
          Our mission is to provide world-class interconnect clearinghouse and
          data center services focusing on security, quality, reliability and
          exemplary customer service. To continually invest in the latest
          appropriate technology and provide solutions to exceed the needs of
          our stakeholders.
        </p>
      </div>

      <div>
        <h3
          class="text-text-heading text-mobileHeading sm:text-heading font-bold"
        >
          Our Values
        </h3>
        <ul class="list-disc ml-8 flex flex-col gap-2">
          <li>Confidentiality</li>
          <li>Excellent Customer Service.</li>
          <li>Honesty</li>
          <li>Integrity</li>
          <li>Reliability</li>
          <li>Time Conscious</li>
        </ul>
      </div>
    </div>
  </section>
  <section
    style="
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.6)
        ),
        url('https://images.unsplash.com/photo-1622675363311-3e1904dc1885?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8b2ZmaWNlJTIwbWVldGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60');
    "
    data-aos="fade-up"
    data-aos-delay="400"
    class="w-full text-white mix-blend-normal bg-black/60 text-center mt-16 bg-no-repeat bg-cover bg-center gap-8 flex flex-col items-center justify-center h-full min-h-[40rem]"
  >
    <h1
      class="text-mobileHeading p-2 sm:text-heading font-bold"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      We specialize in aligning your strategy and technology needs to your
      business strategy.
    </h1>
    <p
      class="max-w-[49rem] w-full text-mobileSubText sm:text-subText"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      Our reputation is driven by a strong conviction that a successful business
      investment requires an attention to detail to unlock value for any
      investment.
    </p>
    <button
      class="px-10 mt-6 w-max py-3 bg-primary text-xl text-white"
      data-aos="fade-up"
      data-aos-delay="300"
      routerLink="/contact-us"
    >
      Contact us
    </button>
  </section>
</div>
